:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.item {
  height: 50px;
  width: 120px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  border: 1px solid grey;
  cursor: pointer;
}

.item-dragged {
  position: fixed;
  margin: 0;
  padding: 0;
  pointer-events: none;
  transform: rotate(4deg);
  transition: transform 100ms;
}

.item-preview {
  border: none;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
}

.empty-stack-placeholder {
  margin-top: 1em;
  height: 40px;
  width: 120px;
  background-color: rgb(234, 253, 205);
}

.board {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  user-select: none;
}

.board-during-drag {
  cursor: grabbing;
}

.board-during-drag .item {
  cursor: inherit;
}

.column {
  background-color: cadetblue;
  max-height: 100vh;
  overflow: auto;
}
.column-board {
  margin-left: 1em;
  margin-top: 1em;
}

.column-title {
  height: 2em;
  user-select: none;
  cursor: pointer;
  background-color: rgb(234, 253, 205);
}

.column-content {
  padding: 0 1em 1em 1em;
}

.column-preview {
  opacity: 0.4;
}

.column-drag-overlay {
  display: flex;
  flex-direction: column;
}

.column-footer {
  flex: 1;
  background-color: rgb(234, 253, 205);
}
