:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-color-spin infinite 2s ease-in;
  }
}

@keyframes logo-color-spin {
  from {
    color: black;
  }
  25% {
    color: blue;
  }
  50% {
    color: blueviolet;
  }
  75% {
    color: darkcyan;
  }
  to {
    color: black;
  }
}

.item {
  height: 50px;
  width: 120px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-left: 1em;
  font-size: 28px;
  border: 1px solid grey;
}

.item-preview {
  border: 2px dashed grey;
  color: rgba(0, 0, 0, 0);
}
