.board {
    float: left;
    display: flex;
    flex-direction: column;
    width: var(--board-width);
    overflow-y: auto;
    max-height: var(--board-height);
}

.board-with-sidebar {
    --board-width: var(--board-width-with-sidebar);
}

.empty-stack-placeholder {
    margin-top: var(--item-padding);
    height: 20px;
    width: var(--item-width);
    /* background-color: rgb(234, 253, 205); */
}

.columns-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: var(--column-container-height);
    height: var(--column-container-height);
    width: var(--board-width);
    overflow-x: auto;
}

.board-title {
    height: var(--board-header-height);
    padding: var(--item-padding);
    font-weight: bold;
    color: white;
}

.board-during-drag {
    --drag-cursor: grabbing;
    cursor: var(--drag-cursor);
}

.board-during-drag button {
    cursor: inherit;
}

.column {
    max-height: var(--column-height);
    max-width: var(--sidebar-width);
    background-color: var(--stack-color);
    border-radius: 4px;
    overflow: auto;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.53);
}

.column-board {
    margin-left: var(--item-padding);
}

.column-title {
    padding: var(--item-padding);
    height: 3em;
    user-select: none;
    cursor: var(--drag-cursor);
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.column-title-actions {
    display: none;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 8px;
}

.column-title:hover .column-title-actions {
    display: flex;
}

/*Do not show tooltips when dragging some item over a tooltip area*/
.board-during-drag .board .column-title-actions {
    display: none;
}

.column-content {
    padding: 0 var(--item-padding) 0 var(--item-padding);
}

.column-preview {
    opacity: 0.4;
}

.column-drag-overlay {
    display: flex;
    flex-direction: column;
}

.column-footer {
    flex: 1;
    /* background-color: rgb(234, 253, 205); */
}

/* CARDS */

.item {
    height: var(--item-height);
    width: var(--item-width);
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: var(--item-padding);
    cursor: var(--drag-cursor);
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.53);
}

.item:hover {
    background-color: #ebebeb;
}

.item.item-dragged {
    background-color: #ebebeb;
    z-index: 102;
}

.item.active {
    background-color: var(--primary-color);
    color: white;
}

.item-image-container{
    height: 100%;
    width: var(--card-image-width);
    position: relative;
}
.item-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item-duration{
    background-color: #1e1e1e;
    color: rgba(255,255,255,0.8);
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: var(--card-progress-height);
    padding-left: 2px;
    padding-right: 2px;
}

/* We need this to handle properly offseX and offsetY because of the image in the item */
.item-click-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.item-drag-mouse-down-area {
    flex: 1;
}

.item-click-overlay:hover .item-icon-area {
    display: flex;
}

.item-icon-area {
    width: var(--item-height);
    display: none;
    justify-content: center;
    align-items: center;
}

.item-icon-area:hover {
    background-color: #e1e1e1;
}

.item-icon-area:active {
    background-color: #d7d7d7;
}

.item-preview > * {
    display: none;
}

.item-text {
    flex: 1;
    overflow: hidden;
    padding-left: 6px;
    padding-right: 6px;
    align-items: center;
    font-size: 14px;
    max-height: 48px;
    margin-bottom: var(--card-progress-height);
}

.item-dragged {
    position: absolute;
    margin: 0;
    pointer-events: none;
    transform: rotate(4deg);
    transition: transform 100ms;
}

.item.item-preview {
    box-shadow: none;
    border: none;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
}

.item-progress-filled {
    position: absolute;
    bottom:0;
    left:0;
    height: var(--card-progress-height);
    background-color: #cf6d68;
}
