.form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    font-size: 15px;
}

.form {
    position: relative;
    width: 375px;
    padding: 35px;
    padding-top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
    color: #464646;
    transition: all 100ms linear;
}

.form.error {
    background-color: #ffded9;
}

.login-status {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #f18484;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}

.form-container input {
    height: 40px;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 0 5px;
}

.button {
    font-weight: bold;
    height: 36px;
    border-radius: 4px;
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: var(--drag-cursor);
    color: rgba(0, 0, 0, .8);
}

.button.flat {
    color: white;
    background-color: #4ca035;
    margin-bottom: 10px;
}

.button.disabled {
}

.button.flat:hover {
    background-color: #50b339;
}

.button.flat:active {
    background-color: #4fc539;
}

.button.flat.disabled {
    background-color: lightgray;
    color: inherit;
}

.button.material {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
    transition: all100ms linear;
}

.button.material:hover {
    background-color: #f3f3f3;
}

.button.material:active {
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px 0;
    background-color: #e7e7e7;
}

.or-label {
    margin-bottom: 10px;
    font-size: 12px;
    color: #1e1e1e;
}

.line {
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 20px;
}

.google-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
