.cinema-player {
    height: calc((9 / 16) * 100vw);
    max-height: calc(100vh - 169px);
    min-height: 640px;
    width: var(--board-width);
    float: left;
}

.mini-player {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 400px;
    height: 150px;
    z-index: 103;
}
