:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
  --item-width: 180px;
  --item-padding: 0.5em;
  --double-item-padding: 1em;
  --board-header-height: 40px;
  --top-bar-height: 40px;

  --sidebar-width: calc(var(--item-width) + var(--double-item-padding));
  --board-width: 100vw;
  --board-width-with-sidebar: calc(
    100vw - var(--item-width) - var(--double-item-padding)
  );
  --board-height: calc(100vh - var(--top-bar-height));

  --column-container-height: calc(
    100vh - var(--top-bar-height) - var(--board-header-height)
  );
  --column-height: calc(
    100vh - var(--top-bar-height) - var(--item-padding) - var(--item-padding) -
      var(--board-header-height)
  );
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.add-stack-button {
  align-self: flex-start;
}

.player-container {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

/* SIDEBAR */

.sidebar {
  float: left;
  background-color: aquamarine;
  overflow: auto;
  width: var(--sidebar-width);
  height: var(--board-height);
}

.sidebar-padded {
  padding: var(--item-padding);
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar-boards-button {
  height: 40px;
  display: flex;
  align-items: center;
  padding: var(--item-padding);
  padding-left: calc(var(--item-padding) + 4px);
  border-bottom: 1px lightgrey solid;
  cursor: pointer;
  position: relative;
}
.sidebar-boards-button-actions{
  display: none;
  flex-direction: row;
  position: absolute;
  right: 0;
}
.sidebar-boards-button:hover .sidebar-boards-button-actions{
  display: flex;
}

.sidebar-boards-button.active {
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: calc(var(--item-padding));
  border-left: 4px white solid;
}

/* BOARD and STACKS */

.board {
  float: left;
  background-color: lightblue;
  width: var(--board-width);
  overflow: auto;
  height: var(--board-height);
}

.board-with-sidebar {
  --board-width: var(--board-width-with-sidebar);
}

.empty-stack-placeholder {
  margin-top: var(--item-padding);
  height: 20px;
  width: var(--item-width);
  /* background-color: rgb(234, 253, 205); */
}

.columns-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: var(--column-container-height);
}

.board-header {
  height: var(--board-header-height);
  padding: var(--item-padding);
}

.board-during-drag {
  cursor: grabbing;
}

.board-during-drag .item {
  cursor: inherit;
}

.column {
  background-color: cadetblue;
  max-height: var(--column-height);
  overflow: auto;
}

.column-board {
  margin-left: var(--item-padding);
  margin-top: var(--item-padding);
}

.column-title {
  padding: var(--item-padding);
  height: 2em;
  user-select: none;
  cursor: pointer;
  /* background-color: rgb(234, 253, 205); */
}

.column-content {
  padding: 0 var(--item-padding) var(--item-padding) var(--item-padding);
}

.column-preview {
  opacity: 0.4;
}

.column-drag-overlay {
  display: flex;
  flex-direction: column;
}

.column-footer {
  flex: 1;
  /* background-color: rgb(234, 253, 205); */
}

/* CARDS */

.item {
  height: 50px;
  width: var(--item-width);
  background-color: white;
  display: flex;
  margin-top: var(--item-padding);
  cursor: pointer;
  position: relative;
}

.item-image {
  height: 100%;
  width: 60px;
  object-fit: cover;
}

/* We need this to handle properly offseX and offsetY because of the image in the item */
.item-click-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.item-preview .item-image {
  visibility: hidden;
}

.item-text {
  flex: 1;
  /* https://smad.jmu.edu/shen/webtype/lineheight.html */
  /* chosen by the simple eye to limit text to two lines */
  /* I don't want to have a js implementation */
  height: 39px;
  align-self: center;
  overflow: hidden;
}

.item-dragged {
  position: fixed;
  margin: 0;
  padding: 0;
  pointer-events: none;
  transform: rotate(4deg);
  transition: transform 100ms;
}

.item-preview {
  border: none;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
}

/* TOP BAR */
.top-bar {
  height: var(--top-bar-height);
  display: flex;
  justify-content: space-between;
}

button.active {
  background-color: lightblue;
}

.user-info-container{
  display: flex;
  align-items: center;
}

.user-info-image{
  height: var(--top-bar-height);
  border-radius: var(--top-bar-height);
  margin-left: 10px;
}

/*LOGIN*/

.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-size: 15px;
}

.form {
  position: relative;
  width: 375px;
  padding: 35px;
  padding-top: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
  color: #464646;
  transition: all 100ms linear;
}

.form.error {
  background-color: #ffded9;
}

.login-status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #f18484;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.form-container input {
  height: 40px;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 0 5px;
}

.button {
  font-weight: bold;
  height: 36px;
  border-radius: 4px;
  line-height: 16px;
  font-size: 14px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button.flat {
  color: white;
  background-color: #4ca035;
  margin-bottom: 10px;
}

.button.disabled {
}

.button.flat:hover {
  background-color: #50b339;
}

.button.flat:active {
  background-color: #4fc539;
}

.button.flat.disabled {
  background-color: lightgray;
  color: inherit;
}

.button.material {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
  transition: all100ms linear;
}

.button.material:hover {
  background-color: #f3f3f3;
}

.button.material:active {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px 0;
  background-color: #e7e7e7;
}

.or-label {
  margin-bottom: 10px;
  font-size: 12px;
  color: #1e1e1e;
}

.line {
  border-bottom: 1px solid #bcbcbc;
  margin-bottom: 20px;
}

.google-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

/*LOADER*/

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  border: 3px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
  margin-right: 8px;
}
