:root {
  background-color: #70797e;
}

h4 {
  margin-left: 1em;
  margin-right: 1em;
}

.stack {
  background-color: #e6e7ec;
  margin-left: 1em;
  margin-top: 1em;
}

.card {
  margin: 1em;
  width: 200px;
  background-color: #ffffff;
  border-radius: 0.3em;
}

.card-image {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.card-title {
  margin: 1em;
}

.board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
